# All keys are mock values and do not work

DATABASE_URI="postgres://reportlah:reportlah@localhost:5432/reportlah"

COURIER_AUTH_TOKEN="pk_test_BHKMDBMSBOTQO0DXPSEGRKFOSCDH"

PAYLOAD_SECRET="50b211234264da22689a4b37"
PAYLOAD_CONFIG_PATH="./src/backend/payload/payload.config.ts"

NEXT_PUBLIC_COURIER_CLIENT_KEY="YTYyYjBiZTEtZTQxNC00NTVjLTg5ZjItMGM0ZThiMTkzNzQ0L3Rlc3Q="
